<configuration>
<appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file>/var/log/jet.log</file>
    <encoder>
        <pattern>{ "date": "%d{dd-MM-yy}", "time": "%d{HH:mm:ss.SSS}", "thread": "%thread", "level": "%-5level", "className": "%logger{36}", "message": "%msg" }%n</pattern>
    </encoder>
</appender>
<root level="debug">
    <appender-ref ref="FILE" />
</root>
</configuration>